ol {
  list-style-type: upper-latin;
  list-style-type: lower-latin;
  list-style-type: square;
  list-style-type: lower-greek;
  list-style-position: inside;
  /* list-style-position: outside; */
}

ul {
  list-style-type: square;
  list-style-type: armenian;
  /* list-style-position: inside; */
  list-style-position: outside;
}